extends layout

block content

    .row
        .col-lg-offset-4.col-lg-4
                .form-group
                    .row
                        .col-lg-9.no-right-pad
                            input#holder(placeholder='New Tag Name', type='text').form-control
                        .col-lg-3.no-left-pad
                            button#idreserver.btn.btn-primary.btn-md.form-control Reserve

    .row
        .col-lg-offset-4.col-lg-4
            #wrapper
                br
                #tagList
                    table
                        thead
                            th ID
                            th Tag Name
                            th Manual Delete
                        tbody
