extends layout

block content
    .row
        .col-lg-offset-5.col-lg-2
            input#filter(placeholder='Name or ID', type='text')
        .col-lg-offset-4.col-lg-4
            #wrapper
                br
                #tagList
                    table
                        thead
                            th Tag ID
                            th Tag Name
                            th Last Updated
                        tbody
