extends layout

block content
    .row
        .col-lg-offset-5.col-lg-2

            input#filter(placeholder='Name or ID', type='text')
        .col-lg-offset-4.col-lg-4
            #wrapper
                br
                #tagList
                    table.sortable
                        thead
                            th.sorttable_numeric Tag ID
                            th.sorttable_alpha Tag Name
                            th.sorttable_numeric Rank
                            th Last Updated
                        tbody
